@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800&display=swap');
*{  
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
header{
    background-color: #116CFF;
    width: 100%;
    align-items: center;
    display: flex;
    justify-items: space-between;
}
.logo{
    display: flex;
    align-items: center;
    position: absolute;
    width: 129.32px;
    height: 37px;
    left: 100px;
    top: 42px;
    background: #00235C;
}
.logo2{
    position: absolute;
    width: 35.94px;
    height: 37px;
    left: 0px;
    top: 0px;
    background: #FFFFFF;
}
.logo h2{
    position: absolute;
    width: 79px;
    height: 18px;
    left: 45.46px;
    top: 9.51px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 12.6857px;
    line-height: 18px;
    letter-spacing: 0.02em;
    color: #FFFFFF;
}
.logo2 h1{
    position: absolute;
    width: 18px;
    height: 18px;
    left: 9.51px;
    top: 9.51px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 22.5524px;
    line-height: 18px;
    letter-spacing: 0.02em;
    color: #00235C;
}
.menu li {
    display: inline-block;
    padding: 100px;
    position: static;
}
.menu li span {
    margin: 0;
    text-decoration: none;
    width: 47px;
    height: 19px;
    left: 10px;
    top: 10px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #FFFFFF;
}
.menu li a{
    text-decoration: none;
    width: 43px;
    height: 19px;
    left: 10px;
    top: 10px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #FFFFFF;
}
.menu li a:hover{
    color: #FFCF2D;
}
.menu li a span:hover{
    color: #FFCF2D;
}
.login{
    text-decoration: none;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 10px 30px;
    position: static;
    width: 104px;
    height: 39px;
    left: 0px;
    top: 0px;
    background: #FFFFFF;
    border-radius: 10px;
}
.login li{
    display: inline-block;
}
.login li a{
    text-decoration: none;
    position: static;
    width: 44px;
    height: 19px;
    left: 30px;
    top: 10px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #116CFF;
}
.login li a:hover{
    color: #FFCF2D;
}
.cont{
    background-color: #116CFF;
    top: 549px;
}
.frase1{
    position: absolute;
    width: 522px;
    height: 161px;
    left: 100px;
    top: 204px;
}
.frase1 h1{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 50px;
    line-height: 160%;
    color: #FFFFFF;
}
.frase2{
    position: absolute;
    width: 403px;
    height: 64px;
    left: 100px;
    top: 381px;
}
.frase2 h1{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 180%;
    color: #FFFFFF;
}
.foto1{
    position: absolute;
    width: 423px;
    height: 395px;
    left: 948px;
    top: 166px;
    background: #FFFFFF;
    border-radius: 20px;
}
.foto1 img{
    position: absolute;
    width: 632px;
    height: 386.5px;
    left: -110px;
    top: 0px; 
}
.foto2 img{
    position: absolute;
    width: 34px;
    height: 32.76px;
    left: 940px;
    top: 158px;
}
.foto3 img{
    position: absolute;
    width: 34px;
    height: 32.76px;
    left: 1354px;
    top: 544px;
}
.balao1{
    position: absolute;
    width: 263px;
    height: 60px;
    left: 1203px;
    top: 131px;
    background: #FFCF2D;
    border-radius: 20px;
}
.balao1 h1{
    position: absolute;
    width: 221px;
    height: 24px;
    left: 21px;
    top: 18px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #00235C;  
}
.balao2{
    position: absolute;
    width: 263px;
    height: 60px;
    left: 809px;
    top: 525px;
    background: #E7F0FF;
    border-radius: 20px; 
}
.balao2 h1{
    position: absolute;
    width: 174px;
    height: 24px;
    left: 20px;
    top: 18px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #00235C;
}
.balao3{
    position: absolute;
    width: 20px;
    height: 20px;
    left: 1055px;
    top: 531px;
    background: #E7F0FF;
    transform: rotate(-30deg);
}
.balao4{
    position: absolute;
    width: 20px;
    height: 20px;
    left: 1198px;
    top: 147px;
    background: #FFCF2D;
    transform: matrix(-0.87, -0.5, -0.5, 0.87, 0, 0);
}
.book{
    position: absolute;
    width: 200px;
    height: 52px;
    left: 100px;
    top: 477px;
    background: #FFFFFF;
    border-radius: 10px;
}
.book li{
    display: inline-block;
}
.book li a {
    text-decoration: none;
    position: absolute;
    width: 125px;
    height: 24px;
    left: 38px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #116CFF;
}
.book li a:hover{
    color: #FFCF2D;
}
.learn{
    position: absolute;
    width: 200px;
    height: 52px;
    left: 324px;
    top: 477px;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 10px;
}
.learn li{
    display: inline-block;
}
.learn li a{
    text-decoration: none;
    position: absolute;
    width: 109px;
    height: 24px;
    left: 46px;
    top: 15;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
}
.learn li a:hover{
    color: #FFCF2D;
}
html{
    scroll-behavior: smooth;
}
section{
    min-height: 100vh;
}
#pg1{
    background-color: #116CFF;
}
#pg2{
    background-color: #FFFFFF;  
}
#pg3{
    background-color: #116CFF;
}
#pg4{
    background-color: #FFFFFF;
}
#pg5{
    background-color: #116CFF;
}
#pg6{
    background-color: #FFFFFF;
}
.teste{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1221px;
    height: 488px;
    left: 45px;
    top: 68px;
}
.teste img{
    width: 583px;
    height: 437.88px;
    left: 45px;
    top: 68px;
}
.teste3{
    position: absolute;
    width: 638px;
    height: 408px;
    left: 728px;
    top: 193px;
}
.teste1{
    width: 638px;
    height: 140px;
    left: 628px;
    top: 193px;
}
.teste1 h1{
    position: static;
    width: 630px;
    height: 120px;
    left: 0px;
    top: 10px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 60px;
    color: #00235C;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 10px;
}
.teste2{
    width: 561px;
    height: 160px;
    left: 628px;
    top: 341px;
}
.teste2 h1{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 40px;
    color: #00235C;
}
.pagina3{
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.pagina3-1{
    position: relative;
    width: 570px;
    height: 328px;
    left: 45px;
    top: 193px;
}
.pagina3-1-1 h1{
    
    width: 570px;
    height: 180px;
    left: 0px;
    top: 203px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 60px;
    color: #FFFFFF;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 10px;
}
.pagina3-1-2{
    
    width: 526px;
    height: 120px;
    left: 0px;
    top: 401px;
}
.pagina3-1-2 h1{
    
    width: 526px;
    height: 120px;
    left: 100px;
    top: 401px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 40px;
    color: #FFFFFF;    
}
.pagina3 img{
    position: relative;
    width: 436px;
    height: 398px;
    left: 130px;
    top: 158px;
}
.super{
    height: 105vh;
}
.pagina4 img{
    position: relative;
    width: 1051px;
    height: 667.53px;
    left: 274px;
    top:-1077.64px;
}
.testimony{
    position: relative;
    width: 185px;
    height: 50px;
    left: 101px;
    top: 60px;
}
.testimony h1{
    position: relative;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 50px;
    color: #116CFF;
}
.kid1 img{
    position: relative;
    width: 65.45px;
    height: 64.1px;
    left: 172.73px;
    top: 169.12px;
}
.kid2 img{
    position: relative;
    width: 64.74px;
    height: 65.45px;
    left: 171.93px;
    top: 378.27px;
}
.kid3 img{
    position: relative;
    width: 65.45px;
    height: 65.45px;
    left: 1258.73px;
    top: 29.12px;

}
.kid4 img{
    position: relative;
    width: 65.45px;
    height: 65.45px;
    left: 1258.73px;
    top: 238.27px;
}
.Eleanor{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 24px;
    position: relative;
    width: 440px;
    height: 187px;
    left: 268.66px;
    top: -110px;
    background: #E7F0FF;
    border-radius: 20px;
}
.Eleanor h1{
    position: static;
    width: 234px;
    height: 25px;
    left: 24px;
    top: 24px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 21px;
    line-height: 25px;
    letter-spacing: 0.015em;
    color: #00235C;
}
.Eleanor h1 span{
    position: static;
    width: 234px;
    height: 25px;
    left: 24px;
    top: 24px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 25px;
    letter-spacing: 0.015em;
    color: #00235C;
}
.star1{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 18.95px;
    height: 20px;
    left: 42.95px;
    top: 0px;
}
.Eleanor h2 span{
    position: static;
    width: 392px;
    height: 78px;
    left: 24px;
    top: 85px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
    color: #FF463A;
    flex: none;
    order: 2;
    flex-grow: 0;
    margin: 8px 0px;
}
.Eleanor h2{
    position: static;
    width: 392px;
    height: 78px;
    left: 24px;
    top: 85px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 25px;
    color: #00235C;
}
.Jane{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 24px;
    position: relative;
    width: 440px;
    height: 187px;
    left: 268.66px;
    top: -15px;
    background: #FFE6E5;
    border-radius: 20px;
}
.Jane h1{
    position: static;
    width: 234px;
    height: 25px;
    left: 24px;
    top: 24px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 21px;
    line-height: 25px;
    letter-spacing: 0.015em;
    color: #00235C;
}
.Jane h1 span{
    position: static;
    width: 234px;
    height: 25px;
    left: 24px;
    top: 24px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 25px;
    letter-spacing: 0.015em;
    color: #00235C;
}
.Jane h2 span{
    position: static;
    width: 392px;
    height: 78px;
    left: 24px;
    top: 85px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
    color: #FF463A;
    flex: none;
    order: 2;
    flex-grow: 0;
    margin: 8px 0px;
}
.Jane h2{
    position: static;
    width: 392px;
    height: 78px;
    left: 24px;
    top: 85px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 25px;
    color: #00235C;
}
.Cameron{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 24px;
    position: relative;
    width: 440px;
    height: 189px;
    left: 793px;
    top: -485px;
    background: #FFE6E5;
    border-radius: 20px;
}
.Cameron h1{
    position: static;
    width: 318px;
    height: 25px;
    left: 24px;
    top: 24px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 21px;
    line-height: 25px;
    letter-spacing: 0.015em;
    color: #00235C;
}
.Cameron h1 span{
    position: static;
    width: 318px;
    height: 25px;
    left: 0px;
    top: 0px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 25px;
    letter-spacing: 0.015em;
    color: #00235C;
}
.Cameron h2 span{
    position: static;
    width: 392px;
    height: 78px;
    left: 24px;
    top: 85px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
    color: #FF463A;
    flex: none;
    order: 2;
    flex-grow: 0;
    margin: 8px 0px;
}
.Cameron h2{
    position: static;
    width: 392px;
    height: 78px;
    left: 24px;
    top: 85px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 25px;
    color: #00235C;
}
.Jenny{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 24px;
    position: relative;
    width: 440px;
    height: 189px;
    left: 793px;
    top: -390px;
    background: #E7F0FF;
    border-radius: 20px;
}
.Jenny h1{
    position: static;
    width: 318px;
    height: 25px;
    left: 24px;
    top: 24px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 21px;
    line-height: 25px;
    letter-spacing: 0.015em;
    color: #00235C;
}
.Jenny h1 span{
    position: static;
    width: 318px;
    height: 25px;
    left: 0px;
    top: 0px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 25px;
    letter-spacing: 0.015em;
    color: #00235C;
}
.Jenny h2 span{
    position: static;
    width: 392px;
    height: 78px;
    left: 24px;
    top: 85px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
    color: #FF463A;
    flex: none;
    order: 2;
    flex-grow: 0;
    margin: 8px 0px;
}
.Jenny h2{
    position: static;
    width: 392px;
    height: 78px;
    left: 24px;
    top: 85px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 25px;
    color: #00235C;
}
.super2{
    height: 105vh;
}
.class{
    position: relative;
    width: 172px;
    height: 50px;
    left: 100px;
    top: 60px;
}
.class h1{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 50px;
    color: #FFFFFF;
}
.quadro1{
    position: relative;
    width: 1166px;
    height: 115px;
    left: 100px;
    top: 162px;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 10px 10px 0px 0px;
}
.biginner{
    position: absolute;
    width: 288px;
    height: 30px;
    left: 24px;
    top: 16px;
}
.biginner h1{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    color: #00235C;
}
.estrelas{
    display: flex;
    align-items: center;
    position: absolute;
    width: 18.95px;
    height: 20px;
    left: 42.61px;
    top: 62px;
}
.preço{
    position: absolute;
    width: 137px;
    height: 25px;
    left: 478px;
    top: 16px;
}
.preço img{
    position: absolute;
    width: 24px;
    height: 24px;
    
}
.preço h1{
    position: absolute;
    font-family: 'Inter';
    font-style: normal;
    left: 35px;
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
    color: #00235C;
}
.tempo img {
    position: absolute;
    width: 24px;
    height: 24px;
    left: 639px;
    top: 16px;     
}
.tempo h1{
    top: 16px;
    position: absolute;
    left: 671px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;    
    color: #00235C;
}
.grupo img {
    position: absolute;
    width: 24px;
    height: 24px;
    left: 483px;
    top: 65px;    
}
.grupo h1 {
    position: absolute;
    left: 515px;
    top: 65px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
    color: #00235C;
}
.device img {
    position: absolute;
    width: 24px;
    height: 24px;
    left: 639px;
    top: 65px;   
}
.device h1{
    left: 671px;
    top: 65px;
    position: absolute;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
    color: #00235C;  
}
.detail {
    position: absolute;
    width: 135px;
    height: 50px;
    left: 1007px;
    top: 33px;
    background: #116CFF;
    border-radius: 10px;    
}
.detail h1{
    position: absolute;
    width: 115px;
    height: 24px;
    left: 0px;
    top: 13px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    text-align: center; 
    color: #FFFFFF;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 10px;       
}
.quadro2{
    position: relative;
    width: 1166px;
    height: 259px;
    left: 100px;
    top: 157px;
    background: #FFFFFF;
}
.n1{
    position: absolute;
    width: 327px;
    height: 32.59px;
    left: 24px;
    top: 16.17px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 30px;
    color: #116CFF;      
}
.n1 h2{
    position: absolute;
    width: 67px;
    height: 30px;
    left: 1054px;
    top: 0px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    text-align: right;
    color: #00235C;    
}
.l1{
    position: absolute;
    width: 1166px;
    height: 0px;
    left: 0px;
    top: 65px;
    background: #116CFF;
    border: 0.5px solid #116CFF;    
}
.n2{
    position: absolute;
    width: 257px;
    height: 32.59px;
    left: 24px;
    top: 81px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 30px;    
    color: #116CFF;
}
.n2 h2{
    position: absolute;
    width: 67px;
    height: 30px;
    left: 1054px;
    top: 0px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    text-align: right;
    color: #00235C;
}
.l3{
    position: absolute;
    width: 1166px;
    height: 0px;
    left: -24px;
    top: 109.59px;
    background: #116CFF;
    border: 0.5px solid #116CFF;
}
.n3{
    position: absolute;
    width: 257px;
    height: 32.59px;
    left: 0px;
    top: 62.41px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 30px;    
    color: #116CFF;
}
.l2{
    position: absolute;
    width: 1166px;
    height: 0px;
    left: -24px;
    top: 49.59px;
    background: #116CFF;
    border: 0.5px solid #116CFF;
}
.n4{
    position: absolute;
    width: 257px;
    height: 32.59px;
    left: 0px;
    top: 123.55px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 30px;    
    color: #116CFF;
}
.new{
    position: absolute;
    width: 47px;
    height: 25px;
    left: 190px;
    top: 0px;
    background: #FFE6E5;
    border-radius: 5px;    
}
.new h1{
    position: absolute;
    width: 31px;
    height: 17px;
    left: -1px;
    top: 4px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #FF463A;   
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 10px;    
}
.st1{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 18.95px;
    height: 20px;
    left: 535.66px;
    top: 3px;    
}
.st2{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 18.95px;
    height: 20px;
    left: 525.66px;
    top: 0px;
}
.st3 {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 18.95px;
    height: 20px;
    left: 535.66px;
    top: 0px;
}
.free{
    position: absolute;
    width: 50px;
    height: 30px;
    left: 1072px;
    top: 0px;    
}
.free h1{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    text-align: right;
    color: #FF463A;   
}
.final{
    top: 753px;
    left: 0px;
    position: relative;
    width: 100%;
    height: 471px;
    background: #00235C;
}
.final img{
    position: absolute;
    width: 500px;
    height: 471px;
    left: 0px;
    top: 0px;
}
.ck{
    position: absolute;
    width: 129.32px;
    height: 37px;
    left: 100px;
    top: 88px;
    background: #00235C;
    border: 1px solid #FFFFFF;
}
.ck h1{
    position: absolute;
    width: 79px;
    height: 18px;
    left: 45.46px;
    top: 9.51px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 12.6857px;
    line-height: 18px;
    letter-spacing: 0.02em;  
    color: #FFFFFF;    
}
.qd{
    position: absolute;
    width: 35.94px;
    height: 37px;
    left: 0px;
    top: -1px;   
    background: #FFFFFF;    
}
.qd h1{
    position: absolute;
    width: 18px;
    height: 18px;
    left: 9.51px;
    top: 9.51px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 22.5524px;
    line-height: 18px;
    letter-spacing: 0.02em;
    color: #00235C;    
}
.west h1 {
    position: absolute;
    top:155px;
    left: 100px;
    width: 377px;
    height: 18px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 18px;
    letter-spacing: 0.02em;
    color: #FFFFFF;   
}
.example h1{
    position: absolute;
    width: 208px;
    height: 18px;
    left: 100px;
    top: 203px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 18px;
    letter-spacing: 0.02em;
    color: #FFFFFF;
}
.inst img{
    position: absolute;
    width: 18.01px;
    height: 18.04px;
    left: 103px;
    top: 254.01px;        
}
.yt img{
    position: absolute;
    width: 20px;
    height: 14.01px;
    left: 157.99px;
    top: 256px;    
}
.fb img{
    position: absolute;
    width: 20px;
    height: 19.88px;
    left: 214px;
    top: 253px;    
}
.gg img{
    position: absolute;
    width: 17.46px;
    height: 17.86px;
    left: 271px;
    top: 254.06px;
}
.coluna1 h1{
    position: absolute;
    width: 86px;
    height: 18px;
    left: 641px;
    top: 88px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 18px;
    letter-spacing: 0.02em;
    color: #116CFF;    
}
.coluna1 h2{
    position: absolute;
    width: 49px;
    height: 18px;
    left: 643px;
    top: 136px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 18px;
    letter-spacing: 0.02em;
    color: #FFFFFF;    
}
.coluna1 h3{
    position: absolute;
    width: 49px;
    height: 18px;
    left: 643px;
    top: 184px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 18px;
    letter-spacing: 0.02em;
    color: #FFFFFF;    
}
.coluna1 h4{
    position: absolute;
    width: 49px;
    height: 18px;
    left: 643px;
    top: 232px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 18px;
    letter-spacing: 0.02em;
    color: #FFFFFF;    
}
.coluna2 h1{
    position: absolute;
    width: 88px;
    height: 18px;
    left: 781px;
    top: 88px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 18px;
    letter-spacing: 0.02em;
    color: #116CFF;    
}
.coluna2 h2{
    position: absolute;
    width: 121px;
    height: 18px;
    left: 781px;
    top: 136px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 18px;
    letter-spacing: 0.02em;
    color: #FFFFFF;    
}
.coluna2 h3{
    position: absolute;
    width: 151px;
    height: 18px;
    left: 781px;
    top: 184px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 18px;
    letter-spacing: 0.02em;
    color: #FFFFFF;    
}
.coluna2 h4{
    position: absolute;
    width: 102px;
    height: 18px;
    left: 781px;
    top: 232px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 18px;
    letter-spacing: 0.02em;
    color: #FFFFFF;    
}
.coluna3 h1{
    position: absolute;
    width: 104px;
    height: 18px;
    left: 982px;
    top: 88px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 18px;
    letter-spacing: 0.02em;
    color: #116CFF;    
}
.coluna3 h2{
    position: absolute;
    width: 98px;
    height: 18px;
    left: 982px;
    top: 136px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 18px;
    letter-spacing: 0.02em;
    color: #FFFFFF;    
}
.coluna3 h3{
    position: absolute;
    width: 124px;
    height: 18px;
    left: 982px;
    top: 184px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 18px;
    letter-spacing: 0.02em;
    color: #FFFFFF;    
}
.coluna3 h4{
    position: absolute;
    width: 64px;
    height: 18px;
    left: 982px;
    top: 232px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 18px;
    letter-spacing: 0.02em;
    color: #FFFFFF;    
}
.coluna4 h1{
    position: absolute;
    width: 108px;
    height: 18px;
    left: 1158px;
    top: 88px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 18px;
    letter-spacing: 0.02em;
    color: #116CFF;    
}
.coluna4 h2{
    position: absolute;
    width: 53px;
    height: 18px;
    left: 1158px;
    top: 136px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 18px;
    letter-spacing: 0.02em;
    color: #FFFFFF;    
}
form span {
    width: 51px;
    height: 25px;  
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 25px;
    text-align: center;
    color: #00235C;
    left: 410px;
    
}
form label input{
    border: 1px solid #BCD6FF;
    box-sizing: border-box;
    border-radius: 10px;
    width: 394px;
    height: 52px;
    left: 152px;
    outline:none ;
    padding: 10px;
    color: #FF463A;
    font-size: 25px;
    margin-top: -40px;
}
.f1{
    position: relative;
    left: 410px;
    top: 194px;
}
.f1 form label input{
    margin-left: 101px;
    margin-top: 0px;
}
.f2{
    position: relative;
    left: 410px;
    top: 282px;
}
.f2 form label input{
    margin-left: 35px;
}
.f3{
    position: relative;
    left:410px;
    top: 368px;
}
.f3 form label input{
    margin-left: 60px;
}
.f4{
    position: relative;
    left: 410px;
    top: 450px;
}
.f4 form label input{
    margin-left: 100px;
}
.str1 img{
    position: relative;
    top: -160px;
    left: 387px;
    width: 63px;
    height: 94px;
}
.str2 img{
    position: relative;
    top: -138px;
    left: 927px;
    width: 39.54px;
    height: 59px;
}
.ready{
    position: relative;
    width: 411px;
    height: 96px;
    left: 478px;
    top: -250px;
}
.ready h1{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 50px;
    text-align: center;
    color: #00235C;    
}
.but{
    position: relative;
    width: 200px;
    height: 52px;
    left: 756px;
    top: 239px;
    background: #116CFF;
    border-radius: 10px;
}
.but a{
    position: absolute;
    width: 83px;
    height: 24px;
    left: 59px;
    top: 15px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
    text-decoration: none;    
}
.link{
    position: relative;
    width: 80px;
    height: 80px;
    left: 1157px;
    top: 0px;
    border: 2px solid #FF463A;
    box-sizing: border-box;
    border-radius: 100%;
}
.link img{
    position: absolute;
    width: 24px;
    height: 24px;
    left: 26px;
    top: 28px;
}
.ask{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 4px 16px;
    position: absolute;
    width: 139px;
    height: 30px;
    left: -30px;
    top: 65px;
    background: #FF463A;
    border: 2px solid #FF463A;
    box-sizing: border-box;
    border-radius: 10px;
}
.ask h1{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 10px;    
}
.but a:hover{
    color: #FFCF2D;
}